Repository jadhamwi21/tripapps: changes, and which Jenkins stages are due for each by the changed paths.
All: build:cli, build:node, build:nextjs, build:nginx

Path conditions:
  build:cli: any of: ./cli/*
  build:node: any of: ./server/*
  build:nextjs: any of: ./client/*
  build:nginx: any of: ./client/*

jenkinsfile
  Jenkinsfile
Due: none

jenkinsfile
  server/src/assets/icons/categories/Grocery.svg
Due: none

replaced ssg with ssr
  Jenkinsfile
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/src/api/index.ts
  client/src/app/apps/category/[category]/[subcategory]/page.tsx
  client/src/app/apps/category/[category]/layout.tsx
  client/src/app/apps/category/[category]/page.tsx
  client/src/app/apps/city/[city]/category/[category]/[subcategory]/page.tsx
  client/src/app/apps/city/[city]/category/[category]/layout.tsx
  client/src/app/apps/city/[city]/category/[category]/page.tsx
  client/src/app/apps/city/[city]/layout.tsx
  client/src/app/apps/city/[city]/page.tsx
  client/src/app/apps/country/[country]/category/[category]/[subcategory]/page.tsx
  client/src/app/apps/country/[country]/category/[category]/layout.tsx
  client/src/app/apps/country/[country]/category/[category]/page.tsx
  client/src/app/apps/country/[country]/layout.tsx
  client/src/app/apps/country/[country]/page.tsx
  client/src/app/apps/page.tsx
Due: build:nextjs, build:nginx

launch.sh update
  client/launch.sh
Due: build:nextjs, build:nginx

jenkinsfile
  Jenkinsfile
  client/package-lock.json
  client/package.json
Due: build:nextjs, build:nginx

added multiple jenkinsfiles
  cli/Jenkinsfile
  client/Jenkinsfile
  server/Jenkinsfile
Due: build:cli, build:node, build:nextjs, build:nginx

server update
  server/src/app.ts
Due: none

assets update
  server/src/assets/icons/categories/Public Transportation.svg
  server/src/assets/icons/countries/Netherlands.svg
Due: none

appstore scraper complete
  scrapers/__pycache__/appstore_scrapper.cpython-310.pyc
  scrapers/__pycache__/engine.cpython-310.pyc
  scrapers/__pycache__/main.cpython-310.pyc
  scrapers/__pycache__/playstore_scrapper.cpython-310.pyc
  scrapers/appstore_scrapper.py
  scrapers/engine.py
  scrapers/main.py
  scrapers/requirements.txt
Due: none

cli app: country commands complete
  cli/src/commands/apps/index.ts
  cli/src/commands/category/add.ts
  cli/src/commands/category/index.ts
  cli/src/commands/category/remove.ts
  cli/src/commands/city/add.ts
  cli/src/commands/city/index.ts
  cli/src/commands/city/remove.ts
  cli/src/commands/country/add.ts
  cli/src/commands/country/index.ts
  cli/src/commands/country/remove.ts
  cli/src/commands/scrape/cities.ts
  cli/src/commands/scrape/countries.ts
  cli/src/commands/subcategory/add.ts
  cli/src/commands/subcategory/index.ts
  cli/src/commands/subcategory/remove.ts
  cli/src/config/config.ts
  cli/src/index.ts
  cli/src/models/apps.model.ts
  cli/src/models/category.model.ts
  cli/src/models/cities_apps.model.ts
  cli/src/models/countries_apps.model.ts
  cli/src/models/index.ts
  cli/src/models/location.model.ts
  cli/src/prompters/prompter.ts
  cli/src/scrapers/cities.scraper.ts
  cli/src/scrapers/countries.scraper.ts
  cli/src/scrapers/scraper.ts
  cli/src/services/apps.service.ts
  cli/src/services/cities_apps.service.ts
  cli/src/services/countries_apps.service.ts
  cli/src/services/country_service.ts
  cli/src/ts/interfaces/apps.interfaces.ts
  cli/src/ts/interfaces/scrappers.interfaces.ts
  cli/src/ts/types/scrappers.types.ts
  cli/src/utils/parser.ts
  cli/src/utils/utils.ts
  cli/test/commands/country/add.test.ts
Due: none

cities cli complete
  cli/src/commands/city/index.ts
  cli/src/services/city_service.ts
Due: none

scrap command prompts
  cli/package.json
  cli/src/commands/category.ts
  cli/src/commands/city.ts
  cli/src/commands/country.ts
  cli/src/commands/scrap.ts
  cli/src/commands/subcategory.ts
  cli/src/services/category_service.ts
  cli/src/services/city_service.ts
  cli/src/services/subcategory_service.ts
  cli/test/commands/scrap.test.ts
  cli/yarn.lock
Due: build:cli

cli app
  cli/package.json
  cli/src/commands/scrap.ts
  cli/src/models/cities_apps.model.ts
  cli/src/models/countries_apps.model.ts
  cli/src/services/scrap_service.ts
  cli/src/ts/enums.ts
  cli/src/ts/interfaces.ts
  cli/src/ts/types.ts
  cli/yarn.lock
  scrapers/__pycache__/engine.cpython-310.pyc
  scrapers/__pycache__/main.cpython-310.pyc
  scrapers/engine.py
  scrapers/main.py
Due: build:cli

scrappers pipeline
  cli/src/services/scrap_service.ts
  scrapers/Dockerfile
  scrapers/Jenkinsfile
Due: none

renamed scrapper to scrappers in api urls
  cli/Jenkinsfile
  cli/src/services/scrap_service.ts
Due: build:cli

scrapers update
  scrapers/.dockerignore
  scrapers/__pycache__/main.cpython-310.pyc
  scrapers/main.py
Due: none

scrapers dockerfile update
  scrapers/Dockerfile
Due: none

scrapers dockerfile optimization
  scrapers/Dockerfile
Due: none

scrapers main.py typo
  scrapers/__pycache__/main.cpython-310.pyc
  scrapers/main.py
Due: none

scrapers dockerfile optimization
  scrapers/Dockerfile
  scrapers/__pycache__/main.cpython-310.pyc
  scrapers/main.py
Due: none
